<div style="width: 100%; height: 100%; ">
  <h5 mat-dialog-title>Introduzca el mensaje que desea enviar</h5>
  <div class="divider" style="margin-bottom: 10px"></div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col s6" >
        <div style="padding-top:1px; padding-right:0px; padding-left:7px; padding-bottom:7px; background-color: rgb(248, 236, 236); border-radius: 10px;">
          <h6>Datos</h6>
          <div class="divider"></div>
          <mat-form-field style="width:100%;">
            <!-- <label>Direcci&oacute;n</label> -->
            <input style="border-radius: 3px; background-color: rgb(218, 206, 206)" placeholder="Destinatarios" matInput [(ngModel)]="data.direccion">
          </mat-form-field>
          <mat-form-field style="width:100%;">
            <!-- <label>Mensaje</label> -->
            <!-- <input matInput [(ngModel)]="data.message"> -->
            <textarea style="border-radius: 3px; background-color: rgb(218, 206, 206); height: 100px;" placeholder="Mensaje" matInput rows="4" cols="50" [(ngModel)]="data.message" (ngModelChange)="cambio_visual(data.message)">
            </textarea>
          </mat-form-field>
          <mat-form-field style="width:100%;">
            <!-- <label>Firma</label> -->
            <input style="border-radius: 3px; background-color: rgb(218, 206, 206)" placeholder="Firma" matInput [(ngModel)]="data.firma">
          </mat-form-field>
          </div>
      </div>

      <div class="col s6" >
        <div style="padding-top:1px; padding-right:7px; padding-left:7px; padding-bottom:7px; background-color: rgb(248, 236, 236); border-radius: 10px;">
          <h6>Vista Previa</h6>
          <div class="divider" style="margin-bottom:17px; "></div>
          <div style="border-radius: 3px; background-color: rgb(218, 206, 206); padding-right: 10px; padding-left: 10px;" >
            <div>
              <b>
                <i>
                    {{data.direccion}}
                </i>
              </b>
            </div>

            <div style="text-align: justify">
              <i>
                <!-- {{data.messageVisual}} -->
                <div *ngFor="let item of data.messageVisual;">
                    {{item}}
                </div>
                <!-- {{data.message.replace(/\n/g, "<br />")}} -->
              </i>
            </div>

            <div>
              <b>
                {{data.firma}}
              </b>
            </div>
          </div>
        </div>
        <div style="height: 20px;"></div>
      </div>

    </div>


  </div>
  <div class="divider"></div>

  <div mat-dialog-actions style="float: right">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button class="btn" mat-button (click)="save()" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>

</div>
<!--</div>-->



 