<h5 mat-dialog-title>Corrija el numero seleccionado, Posici&oacute;n Nro. {{data.id}}</h5>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.numero">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button class="btn" mat-button [mat-dialog-close]="data.numero" cdkFocusInitial>Guardar</button>
</div>

<!--</div>-->



 