<div style="height: 7px;">
    <mat-progress-bar style="height: 7px;" *ngIf="provisorio==true" mode="indeterminate">Realizando B&uacute;squeda</mat-progress-bar>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Enviando Mensajes. Aguarde unos minutos hasta que termine el proceso.</p>
</ngx-spinner>
<div style="padding-right:20px; padding-left: 20px">
    <div class="file-field input-field" >
            <div class="btn" >
            <span>Seleccionar archivo de Excel: </span>
            <input [disabled]="provisorio" type="file" id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="file-path-wrapper">
            <input  class="file-path validate" type="text">
            </div>
            
    </div>
    

    <div class="divider" style="margin-top: 10px"></div>

        <!-- <div class="content"> -->
    <!-- <div class="card"> -->
    <h5 style="padding: 10px; padding-bottom: 0px;">Datos de los clientes sin cobertura</h5>
    <div  style="padding-right:20px; padding-left: 20px">
        <table mat-table [dataSource]="dataSource">            
            <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef> Posici&oacute;n </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{element.posicion}} </td>
            </ng-container>
    
            <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="pol">
            <th mat-header-cell *matHeaderCellDef> N&uacute;mero P&oacute;liza </th>
            <td mat-cell *matCellDef="let element"> {{element.poliza}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef> N&uacute;mero Tel&eacute;fono </th>
            <td mat-cell *matCellDef="let element"> 
                <div *ngIf="element.telefono!=='0'">
                    {{element.telefono}}
                </div>
                <div *ngIf="element.telefono=='0'">
                    NO TIENE
                </div>
            </td>
            </ng-container>
    
            <ng-container matColumnDef="ope">
            <th mat-header-cell *matHeaderCellDef> Operaciones </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <div *ngIf="element.permitido" style="background-color:#C8E5FF; display: flex;justify-content: center;align-items: center;">
                    <a mat-raised-button (click)="details(element.posicion)">
                        <i class=" material-icons ">edit</i>
                    </a>
                    <a mat-raised-button (click)="reestablecer_num(element.posicion)" style="margin-left: 25px;">
                        <i class=" material-icons ">refresh</i>
                    </a>
                    
                    <label style="padding-left: 25px;">
                        <!-- con un changeevent se determina cual esta habilitado y cual no -->
                        <input type="checkbox" class="filled-in" [(ngModel)]="element.permitido" />
                        <span></span>
                    </label> 
                </div>
                <div *ngIf="!element.permitido" style="background-color:#FFC9C8; display: flex;justify-content: center;align-items: center;">
                    <a mat-raised-button (click)="details(element.posicion)">
                        <i class=" material-icons ">edit</i>
                    </a>
                    <a mat-raised-button (click)="reestablecer_num(element.posicion)" style="margin-left: 25px;">
                        <i class=" material-icons ">refresh</i>
                    </a>
                    
                    <label style="padding-left: 25px;">
                        <!-- con un changeevent se determina cual esta habilitado y cual no -->
                        <input type="checkbox" class="filled-in" [(ngModel)]="element.permitido" />
                        <span></span>
                    </label> 
                </div>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>   

    <!-- </div> -->

        <!-- </div> -->
</div>

<div style="float: right; padding: 15px;">
    <button [disabled]="provisorio" mat-raised-button (click)="enviar_datos()" class="btn" style="margin-left: 25px;">Enviar Datos</button>
</div>
<br>
<br>
     







  <!-- <table class=" highlight centered responsive-table" style="">
        <thead>
            <th>Posici&oacute;n</th>
            <th>Nombre</th>
            <th>N&uacute;mero P&oacute;liza</th>
            <th>N&uacute;mero Tel&eacute;fono</th>
            <th>Operaciones</th>
        
        </thead>
        <tbody>
            <tr *ngFor="let nro of nros_json; let i = index">
                <td>{{i+1}}</td>
                <td>{{nro.nombre}}</td>
                <td>{{nro.poliza}}</td>
                <td *ngIf="nro.telefono!=='0'">{{nro.telefono}}</td>
                <td *ngIf="nro.telefono=='0'">NO TIENE</td>
                
                <td *ngIf="nro.permitido" style="background-color:#C8E5FF">
                    <a mat-raised-button (click)="details(i)">
                        <i class=" material-icons ">edit</i>
                    </a>
                    <a mat-raised-button (click)="reestablecer_num(i)" style="margin-left: 25px;">
                        <i class=" material-icons ">refresh</i>
                    </a>
                    
                    <label style="padding-left: 25px;">
                       >
                        <input type="checkbox" class="filled-in" [(ngModel)]="nro.permitido" />
                        <span></span>
                    </label> 
                </td>

               
                
                <td *ngIf="!nro.permitido" style="background-color:#FFC9C8">
                    <a mat-raised-button (click)="details(i)">
                        <i class=" material-icons ">edit</i>
                    </a>
                    <a mat-raised-button (click)="reestablecer_num(i)" style="margin-left: 25px;">
                        <i class=" material-icons ">refresh</i>
                    </a>
                    
                    <label style="padding-left: 25px;">
                        
                        <input type="checkbox" class="filled-in" [(ngModel)]="nro.permitido" />
                        <span></span>
                    </label> 
                </td>
            </tr>
        </tbody>
    </table> -->