<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary blue darken-4">
    <div style="text-align:center" class="">
           
      <a class="flow-text" routerLink="/">
        <img src="../../../assets/logo_dyh1.png" alt="no carga la imagen rus" width="63" height="63" style="float: left; margin-left: 5px; margin-top: 1px;">
        <img src="../../../assets/logorus.jpg" alt="no carga la imagen rus" width="170" height="64" style="float: right">
        Dehner & Hellrigl | Asesores Productores de Seguros
        </a>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary blue darken-2">    
  
    <div class="collapse navbar-collapse blue darken-2 " id="mainNavbar">
      
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
            
          <a class="nav-link" routerLink="/home/">Home
          </a>
        </li>
        
  
        <li class="nav-item " >
            <a class="nav-link " routerLink="/whatsappsend/">Enviar Whatsapp
            </a>
        </li>

        <!-- login y logout -->
        <li style="float:right" class="nav-item" *ngIf="!authService.getlogIn()">
          <a class="nav-link" routerLink="/user/login"> <strong>Login</strong>
          </a>
        </li>

        <li style="float:right" class="nav-item" *ngIf="authService.getlogIn()">
          <a class="nav-link" routerLink="/user/login" (click)="authService.logout()"><strong>Logout</strong>
          </a>
        </li>
        <li style="float:right" class="nav-item" *ngIf="authService.getlogIn()">
          <a class="nav-link" routerLink="/user/edit_password">
            <i class="material-icons" style="height: 64px;">settings</i>
          </a>
        </li>
        <!-- <li class="nav-item " >
                <a class="nav-link " routerLink="/uploadexcel/">Subir Archivo
                </a>
            </li> -->
        <!-- *ngIf="!authService.getlogIn()" -->
        <!-- <li class="nav-item" *ngIf="!authService.getlogIn()">
          <a class="nav-link" routerLink="/user/login">Login
          </a>
        </li>
  
        <li class="nav-item" *ngIf="authService.getlogIn()">
          <a class="nav-link" routerLink="/user/login" (click)="authService.logout()">Logout
          </a>
        </li> -->
      </ul>
    </div>
  
  </nav>