<div style="padding-left:30px; padding-right:30px;">
    <h5>Introduzca la contrase&ntilde;a a la que desea cambiar...</h5>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="input-field col s6">
            <input type="password" name='contra' #contra="">
            <label for="">Contrase&ntilde;a</label>
        </div>
        <div class="input-field col s6">
            <button class="btn" (click)=guardar_contrasenia(contra)>Guardar</button>
        </div>
    </div>
</div>