<div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card blue lighten-2">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab">
                  <a routerLink='/user/login' routerLinkActive='active'>Iniciar Sesi&oacute;n</a>
              </li>
              <li class="tab">
                  <a  routerLink='/user/signup' routerLinkActive='active'>Registrarse</a>
              </li>
            </ul>
          </div>
          <div class="card-content white">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
