<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="nombre" #Nombre="ngModel" [(ngModel)]="user.nombre">
        <label>Nombre</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="apellido" #Apellido="ngModel" [(ngModel)]="user.apellido">
        <label>Apellido</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s6">
        <input class="validate" type="text" name="nombre_usuario" #NombreUsuario="ngModel" [(ngModel)]="user.nombre_usuario" required>
        <label data-error="Required field!">Nombre de Usuario</label>
      </div>
      <div class="input-field col s6">
        <input class="validate" type="password" name="password" #Password="ngModel" [(ngModel)]="user.password" required minlength="3">
        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input class="validate" type="text" name="email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
        <label data-error="Invalid email!">Email</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="telefono" #Telefono="ngModel" [(ngModel)]="user.telefono">
        <label>Tel&eacute;fono</label>
      </div>
      
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="domicilio" #Domicilio="ngModel" [(ngModel)]="user.domicilio">
            <label>Domicilio</label>
        </div>
      </div>

    <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Confirmar</button>
      </div>
    </div>
  </form>

  