<!-- <p>whatsappsend works!</p> -->
<div style="height: 7px;">
    <mat-progress-bar style="height: 7px;" *ngIf="provisorio==true" mode="indeterminate">Realizando B&uacute;squeda</mat-progress-bar>
</div>
<div style="padding-right:20px; padding-left: 20px">
    <h5>Haga click para obtener el Qr, y luego de escanear haga click en siguiente.</h5>

    <button class="btn" [disabled]="provisorio" (click)="solicitar_imagen()">Obtener Qr</button>

    <br>
    <img style="padding:10px; display: block; margin: auto" id='idqrwpp'/>

    <br>
    <button class="btn" [disabled]="siguiente" style="float: right; padding-bottom: 30px; margin-bottom: 30px;" routerLink="/uploadexcel/">Siguiente --></button>
</div>
<!-- <app-uploadexcel></app-uploadexcel> -->
<!-- <div id='cuerpo'></div> -->
