<p>homeprueba works!</p>
<a (click)="solicitar_imagen()">
    <i style="height: 25px; width: 50px; margin-right: 5px"  class=" material-icons btn waves-effect waves-light">check_circle</i>
</a>

<img id='idqrwpp'/>
<div id='cuerpo'></div>