<section id="profile" class="container">
    <div class="row mt-5">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-details">
          <div class="col-12">
            <img src="../../../../assets/check-user.png" class="rounded-circle img-thumbnail" alt="profile">
            <h5>{{user.name}}</h5>
            <p>
              {{user.email}}
            </p>
  
            <hr>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores suscipit itaque minima quae.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  